<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>Demo</title>

<!-- common -->
<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../../css/bootstrap-slider.css">
<link rel="stylesheet" type="text/css" href="../../css/jquery.jscrollpane.css">
<link rel="stylesheet" type="text/css" href="../../css/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="../../css/css.css">

<script type="text/javascript" src="../../js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../js/jquery-ui.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap-slider.js"></script>
<script type="text/javascript" src="../../js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="../../js/jquery.jscrollpane.min.js"></script>

<!-- custom -->
<script type="text/javascript" src="../../js/user.js"></script>
</head>

<body>
<!-- wrap -->
<div class="bs-example-modal" data-example-id="static-modal">
  <!-- 팝업 구현시 이 부분만 사용 -->
  <div class="modal" id="findAccount">
    <div class="modal-dialog">
      <div class="modal-content modal-sm"><!-- 개발에서 사용하는 다른 팝업모듈 사용시 이부분만 사용하세요.  -->
        <!-- modal header -->
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h1 class="modal-title">아이디 찾기/비밀번호 찾기</h1>
        </div>
        <!-- //modal header -->

        <!-- modal body -->
        <div class="modal-body">
          <div class="only-text">
            아이디/비밀번호 찾기 서비스는<br>
            관리자문의를 통해 이용하실 수 있습니다.<br>
            아래 메일 주소를 통해 문의해주세요.<br>
            <br>
            <span class="adminMail">관리자문의 메일 : <a href="mailto:demo@demo.com">demo@demo.com</a></span>
          </div>
        </div>
        <!-- //modal body -->

        <!-- modal footer -->
        <div class="modal-footer">
          <button type="button" name="button" class="btn btn-color1">확인</button>
        </div>
        <!-- //modal footer -->
      </div>
    </div>
  </div>
  <!-- //팝업 구현시 이 부분만 사용 -->
</div>
<!-- //wrap -->
</body>
</html>
