<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>Demo</title>

<!-- common -->
<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../../css/bootstrap-slider.css">
<link rel="stylesheet" type="text/css" href="../../css/jquery.jscrollpane.css">
<link rel="stylesheet" type="text/css" href="../../css/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="../../css/css.css">

<script type="text/javascript" src="../../js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../js/jquery-ui.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap-slider.js"></script>
<script type="text/javascript" src="../../js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="../../js/jquery.jscrollpane.min.js"></script>

<!-- custom -->
<script type="text/javascript" src="../../js/user.js"></script>
</head>

<body>
<!-- wrap -->
<div id="wrap" class="one_page">
  <div class="one_in">
    <!-- login -->
    <div class="memWrap">
      <div class="mem-hd">
        <h1>Demo</h1>
		<h2>Demo 로그아웃</h2>
      </div>

      <div class="mem-body">
        <div class="compMsgBox logout">
          <span class="ico"></span>
          <strong class="msg-tit">로그아웃 완료</strong>
          <div class="msg-txt">
            안전하게 로그아웃 되었습니다.<br>
            다시 Demo 서비스를 이용하시려면 로그인이 필요합니다.<br>
          </div>
        </div>
      </div>
      <div class="mem-foot">
        <button type="button" name="button" class="btn btn-color1"><a href="login.html">로그인</a></button>
      </div>
    </div>
    <!-- //login-->
  </div>
</div>
<!-- //wrap -->
</body>
</html>
