<form name="pop.memberUpdatePasswordPopForm" novalidate>
    <table class="table table-striped table-bordered">
        <colgroup>
            <col style="width:30%;">
            <col>
        </colgroup>
        <tbody>
        <tr>
            <td>{{ 'label.password' | translate }}</td>
            <td>
                <input type="password" name="password" maxlength="20" ng-model="pop.data.password" validation="required" class="form-control w-half">
            </td>
        </tr>
        <tr>
            <td>{{ 'label.confirm_password' | translate }}</td>
            <td>
                <input type="password" name="confirmPassword" maxlength="20" ng-model="pop.data.confirmPassword" validation="required|custom:pop.checkPasswordValidation(pop.data.password, pop.data.confirmPassword)" class="form-control w-half">
            </td>
        </tr>
        <tr>
            <td colspan="2">{{ 'message.passwords_must_characters' | translate }}</td>
        </tr>
        </tbody>
    </table>
</form>