<div class="wrapper-error">
        <div class="abs-center">
            <div class="text-center">
                <div class="text-lg mb-3">
                    <em class="fa fa-wrench fa-2x text-muted"></em>
                </div>
                <div class="text-lg mb-3">{{ 'label.api_server_error' | translate }}</div>
                <p _ngcontent-c10="">{{ 'message.dont_worry_now_checking' | translate }}</p>
                <p _ngcontent-c10="">{{ 'message.lasts_please_come_back_moment' | translate }}</p>
                <button type="button" class="btn btn-w-m btn-black text-center mt-15" ng-click="main.reloadPage()">{{ 'label.try_again' | translate }}</button>
            </div>  
        </div>
    </div>