<div class="titWrap" >
    <h2 class="h2">타이틀</h2>
    <div class="btnArea">
        <button type="button" name="button" class="btn btn-list only-ico ico-refresh" tooltip-placement="bottom" uib-tooltip="새로고침"><span class="ico">새로고침</span></button>
    </div>
</div>
<!--<div class="small-header mb-20">-->
<!--    <ol class="breadcrumb" dynamic-template="main.navigationLinkHtml"></ol>-->
<!--    &lt;!&ndash;페이지 새로고침 버튼영역&ndash;&gt;-->
<!--    <div class="btnArea pull-right">-->
<!--        <button type="button" name="button" class="btn btn-list only-ico ico-list ico-refresh" tooltip-placement="bottom" uib-tooltip="새로고침" ng-click="main.reloadPage()"><i class="fa fa-refresh"></i></button>-->
<!--        <button ng-if="main.displayParentBtn" type="button" name="button" class="btn btn-list only-ico ico-list ico-list" tooltip-placement="bottom" uib-tooltip="보기" ng-click="main.goToPage(main.moveParentPath)"><i class="fa fa-th-large"></i></button>-->
<!--    </div>-->
<!--    &lt;!&ndash;//&ndash;&gt;-->
<!--</div>-->
